@{
    Layout = null;  // Ensures no layout is applied if you're using Layouts
}
<!-- _ForgotPasswordForm.cshtml -->
<h2 class="text-2xl font-bold mb-8 text-center">Forgot Your Password?</h2>
<form asp-action="ForgotPassword" method="post" id="forgotPasswordForm">
    <div class="flex flex-col space-y-4">
        <input type="email" name="Email" placeholder="Enter your email address" required class="w-full p-2 border rounded text-black border-gray-300" aria-label="Email">
        <button type="submit" class="w-full p-2 bg-blue-500 text-white rounded hover:bg-blue-600">Send Reset Link</button>
    </div>
</form>
<div id="messageContainer" aria-live="polite" aria-atomic="true"></div>
@*<script>


    $(document).on('submit', '#forgotPasswordForm', function (e) {
        e.preventDefault();
        $.ajax({
            url: $(this).attr('action'),
            type: 'POST',
            data: $(this).serialize(),
            success: function (response) {  // Make sure to use 'response' if that's what you referred in if condition
                if (response.success) {
                    window.location.href = response.redirectUrl;  // This will cause the browser to navigate to the new URL
                } else {
                    alert(response.message);  // Show error message if not successful
                }
            },
            error: function (xhr) {
                $('#messageContainer').html('<p class="error-message">Failed to send reset link. Please try again.</p>');
            }
        });
    });

</script>*@

