@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sample eBook Template</title>
    <link href="~/css/content.css" rel="stylesheet" />

</head>
<body>
    <div class="page">
        <h1>Chapter 1: The Beginning</h1>
        <h2>Section 1.1: Setting the Stage</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla consequat nisi id nibh dapibus, sit amet porttitor urna facilisis.
        </p>
        <blockquote>
            "A journey of a thousand miles begins with a single step." – Lao Tzu
        </blockquote>
        <h3>Subsection 1.1.1: Exploring New Horizons</h3>
        <p>
            Suspendisse potenti. In eget dolor auctor, vestibulum purus non, vulputate leo. Integer suscipit tortor ac urna varius, nec convallis felis fermentum.
        </p>
        <img src="example-image.jpg" alt="Example Image">
    </div>
</body>
</html>
